{% extends 'base.html' %} {% load static %} {% block page_title %} View {{ this_post.title|truncatewords:3 }} {% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <a href="{% url 'blog_home'  %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Back To All Posts</a>
    </div>
</div>

<section class="post">
    <div class="row">
        <div class="col-12 text-center">
            <h2>{{ this_post.title }} <span class="post-done-by"> - Posted By: {{ this_post.done_by }}</span> </h2>
            <p>Posted On: {{ this_post.created_on }} </p>
        </div>

        <div class="col-12 jumbotron jumbo-blog">
            <p>{{ this_post.body|linebreaks }}</p>
            <p class="small">Post Views: {{ this_post.views }}</br>Last Modified: {{ this_post.last_modified }}</p>
        </div>
    </div>
</section>

<section class="comments">
    <div class="row">
        <div class="col-12">
            <h3>Comments:</h3>
        </div>

        {% for c in comments %}
        <div class="col-12 mb-3">
            <p> - {{ c.text }}</p>
            <p class="small">Posted by: {{ c.author }}</p>
            {% if user.profile.staff_access %}
            <form class="" method="post" action="{% url 'delete_comment' c.id %}">
                {% csrf_token %}
                <button class="btn delete-btn" type="submit"><i class="fas fa-dumpster-fire" onclick="return confirm('Are you sure you to delete this comment?');" ></i></button>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>



<section class="tools">
    <div class="row">
        <div class="col-12 text-center">
            {% if user.is_authenticated %}
            <a href="{% url 'add_comment' this_post.id  %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Leave Comment</a> <br> {% endif %} {% if user.profile == this_post.done_by %}
            <a href="{% url 'edit_post' this_post.id  %}" role="button" class="btn btn-warning mb-3" aria-disabled="false">Edit Post</a> <br> {% endif %}
        </div>
    </div>
</section>
{% endblock %}