{% extends 'base.html' %} {% load static %} {% block page_title %} | Home {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>Tools and a Blog!</h1>
            <hr>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-6 col-12">
        <p class="lead">Hi! </br>
            </br>Using Django i've created a blog which will serve both as a my blog, and as a space to play with and create new social tools.</br>
            </br> Under the hood I have started to build and implement a tiered access system to allow different permissions for different users.
        </p>
    </div>
    <div class="col-md-6 col-12">
        <p class="lead">Created By Jack Snowdon</p>
        <p class="blog-link"><a href="http://www.jacksnowdon.co.uk">Website</a></p>
    </div>
</div>




{% endblock %}