{% extends 'base.html' %} {% block page_title %}{{ profile }}'s Profile{% endblock %} {% block content %}

<h2>{{ profile }}'s profile</h2>

<p>{{ user.email }} </p>

<h3 class="mb-3">Posts:</h3>
<div class="row">

    <div class="col-6 blog-link">
        {% for p in posts %}
        <p class="report-links"><a href="{% url 'view_post' p.id %}">{{ p.title }}</a></p>
        {% endfor %}
    </div>
    <div class="col-6 blog-link">
        {% for t in tasks %}
        <p class="report-links">{{ t.task }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}