{% extends 'base.html' %} {% block page_title %}{{ profile }}'s Profile{% endblock %} {% block content %}

<h2>{{ profile }}'s profile</h2>

<p>{{ user.email }} </p>

{% if user.profile.staff_access %}
<div class="row">
    <div class="col-6 blog-link">
        <h3 class="mb-3">Posts:</h3>
        {% for p in posts %}
        <p class="report-links"><a href="{% url 'view_post' p.id %}">{{ p.title }}</a></p>
        {% endfor %}
    </div>
    <div class="col-6 blog-link">
        <h3 class="mb-3">Tasks:</h3>
        {% for t in tasks %} {% if t.completed == False %}
        <p class="report-links">{{ t.task }}</p>
        {% else %}
        <s><p class="report-links">{{ t.task }}</p></s> {% endif %} {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-12 text-center mb-3">
        <a href="{% url 'admin_panel' %}" role="button" class="btn btn-success" id="admin-panel" aria-disabled="false">Admin Panel</a>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12 blog-link">
        <h3 class="mb-3">Comments:</h3>
        {% for c in comments %}
        <p class="report-links"><a href="{% url 'view_post' c.id %}"> - {{ c.post }} 
        </br>{{ c.text }} </a></p>
        {% endfor %}
    </div>
</div>

{% endblock %}