{% extends 'base.html' %} {% load static %} {% block page_title %} | Checklist {% endblock %} {% block content %}

<div class="row">
    <div class="col-12">
        <a href="{% url 'toolshome' %}" role="button" class="btn btn-success mb-2" id="tools_home" aria-disabled="false">Back To Tools</a>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>Checklist</h1>
            {% if user.profile.staff_access %}
            <a href="{% url 'add_checklist' %}" role="button" class="btn btn-success" id="add_checklist" aria-disabled="false">Add Item</a> {% endif %}
        </div>
    </div>
</div>

<div class="row">
    {% for t in tasks %}
    <div class="col-6">{% if t.completed == False %}
        <p class="task-list"><a href="{% url 'edit_checklist' t.id  %}" aria-disabled="false">{{ t.task }}</a></p>
        {% else %}
        <p class="task-list"><s><a href="{% url 'edit_checklist' t.id  %}" aria-disabled="false">{{ t.task }}</a></s></p>
        {% endif %}
    </div>
    <div class="col-6">
        <a href="{% url 'delete_task' t.id  %}" role="button" class="btn btn-danger" aria-disabled="false">Delete Task</a> {% if t.completed == False %}
        <a href="{% url 'complete_task' t.id %}" role="button" class="btn btn-warning" aria-disabled="false">Complete</a> {% else %}
        <a href="{% url 'complete_task' t.id %}" role="button" class="btn btn-warning" aria-disabled="false">Uncomplete</a> {% endif %}
    </div>{% endfor %}
</div>


{% endblock %}