{% extends 'base.html' %} {% load static %} {% block page_title %} | Tools {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>Tools that will help my day to day life</h1>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-6 col-12">
        <p class="lead">Daily Checklist</p>
        {% if user.profile.staff_access %}
        <a href="{% url 'checklist' %}" role="button" class="btn btn-success" id="checklist" aria-disabled="false">Checklist</a> {% endif %}
    </div>
    <div class="col-md-6 col-12">
        <p class="lead">Lorem, ipsum dolor.</p>
    </div>
</div>




{% endblock %}