{% extends 'base.html' %} {% load static %} {% block page_title %} | Home {% endblock %} {% block content %}

<div class="row">
    <div class="col-12 text-center">
        <div class="jumbotron">
            <h1>Tools that will help my day to day life</h1>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-md-6 col-12">
        <p class="lead">Daily checklist. Random Point Machine?</p>
    </div>
    <div class="col-md-6 col-12">
        <p class="lead">Lorem, ipsum dolor.</p>
    </div>
</div>




{% endblock %}